<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Tags -->
    <title><%= appName %></title>
    <meta name="title" content="<%= appName %>" />
    <meta name="description" content="<%- appDescription %>" />

    <!-- Twitter -->
    <meta property="twitter:title" content="<%= appName %>" />
    <meta property="twitter:description" content="<%- appDescription %>" />
    <meta property="twitter:image" content="<%= appOgImage %>" />
    <meta property="twitter:card" content="summary_large_image" />

    <!-- Facebook -->
    <meta property="og:title" content="<%= appName %>" />
    <meta property="og:description" content="<%- appDescription %>" />
    <meta property="og:image" content="<%= appOgImage %>" />
    <meta property="og:type" content="website" />
    <title><%= appName %></title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png" />
    <style>
      html,
      body {
        margin: 0;
        height: 100%;
        position: relative;
        font-family: system-ui;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      #cast {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
      }
      #overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: #111;
        color: #fff;
        display: grid;
        place-items: center;
      }
    </style>
  </head>
  <body>
    <div id="overlay">Buffering...</div>
    <script src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script>
      const IS_CASTER = JSON.parse('<%= isCaster %>');
      const IS_RECEIVER = !IS_CASTER;
    </script>
    <script src="/script.js"></script>
  </body>
</html>
